.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.986816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.986816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-4.608000px;}
._4{margin-left:-1.536000px;}
._1{width:1.196000px;}
._6{width:2.208000px;}
._0{width:9.968000px;}
._8{width:11.792000px;}
._3{width:55.440000px;}
._7{width:98.304000px;}
._2{width:141.984000px;}
.fc7{color:rgb(0,0,0);}
.fc5{color:rgb(38,38,38);}
.fc0{color:rgb(51,51,51);}
.fc1{color:rgb(109,110,113);}
.fc6{color:rgb(0,0,255);}
.fc2{color:rgb(89,89,89);}
.fc4{color:rgb(65,64,66);}
.fc3{color:rgb(64,64,64);}
.fs6{font-size:2.000000px;}
.fs5{font-size:24.000000px;}
.fs4{font-size:36.000000px;}
.fs3{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.fs1{font-size:52.000000px;}
.fs0{font-size:112.000000px;}
.y33{bottom:-174.400002px;}
.y93{bottom:-47.680008px;}
.ye{bottom:-1.699997px;}
.y0{bottom:0.000000px;}
.y62{bottom:0.850006px;}
.y16{bottom:2.184017px;}
.y58{bottom:2.800000px;}
.y22{bottom:3.800001px;}
.y6{bottom:3.860000px;}
.y4{bottom:4.000000px;}
.y2d{bottom:4.099995px;}
.y8a{bottom:4.595642px;}
.y95{bottom:4.610000px;}
.yab{bottom:4.688000px;}
.y1a{bottom:4.800001px;}
.ya4{bottom:5.360000px;}
.ya7{bottom:5.488001px;}
.y32{bottom:6.549992px;}
.y2{bottom:7.240000px;}
.y75{bottom:7.829002px;}
.y53{bottom:8.614136px;}
.y28{bottom:9.749996px;}
.y9e{bottom:12.690994px;}
.ya2{bottom:14.025276px;}
.y1b{bottom:14.190987px;}
.y6b{bottom:14.856003px;}
.yd{bottom:15.300003px;}
.y1f{bottom:15.562000px;}
.y61{bottom:16.850002px;}
.y21{bottom:17.860002px;}
.ya8{bottom:17.867992px;}
.y3a{bottom:17.978172px;}
.y52{bottom:18.191162px;}
.y92{bottom:18.233002px;}
.y19{bottom:18.860002px;}
.y89{bottom:19.016632px;}
.y15{bottom:19.184017px;}
.yaa{bottom:19.710000px;}
.ya6{bottom:20.510001px;}
.y2c{bottom:20.549999px;}
.y12{bottom:20.650002px;}
.y74{bottom:21.829002px;}
.y35{bottom:22.944809px;}
.y31{bottom:22.999996px;}
.y27{bottom:23.749996px;}
.y9d{bottom:27.112000px;}
.y1e{bottom:27.589005px;}
.ya1{bottom:30.025277px;}
.y51{bottom:30.218140px;}
.y6a{bottom:31.072000px;}
.yc{bottom:32.300003px;}
.y39{bottom:32.399174px;}
.y60{bottom:32.850002px;}
.y14{bottom:33.244018px;}
.y88{bottom:33.437622px;}
.y2b{bottom:34.550001px;}
.y11{bottom:34.650002px;}
.y55{bottom:35.510001px;}
.y73{bottom:35.829002px;}
.y66{bottom:36.149998px;}
.y30{bottom:36.999998px;}
.y26{bottom:37.749998px;}
.y50{bottom:39.795166px;}
.y91{bottom:40.204002px;}
.y9c{bottom:41.532997px;}
.y38{bottom:46.820175px;}
.y69{bottom:47.288001px;}
.y1d{bottom:47.617004px;}
.y87{bottom:47.858627px;}
.y10{bottom:48.650002px;}
.y5f{bottom:48.850002px;}
.yb{bottom:49.300003px;}
.y72{bottom:49.829002px;}
.y2a{bottom:51.000001px;}
.y4f{bottom:51.822144px;}
.y65{bottom:52.149999px;}
.y2f{bottom:53.449998px;}
.ya5{bottom:53.523998px;}
.y25{bottom:54.199998px;}
.ya9{bottom:54.691004px;}
.y9b{bottom:55.954002px;}
.y37{bottom:61.241173px;}
.y4e{bottom:61.399170px;}
.y1c{bottom:62.038005px;}
.y90{bottom:62.175003px;}
.y86{bottom:62.279602px;}
.y71{bottom:63.828999px;}
.y5e{bottom:64.850003px;}
.ya{bottom:66.300003px;}
.y9a{bottom:70.375004px;}
.y4d{bottom:74.418152px;}
.y36{bottom:75.662173px;}
.y85{bottom:76.700607px;}
.y70{bottom:77.828999px;}
.y9{bottom:80.360003px;}
.y8f{bottom:84.146004px;}
.y99{bottom:84.796005px;}
.y4c{bottom:90.327164px;}
.y84{bottom:91.121613px;}
.ya3{bottom:93.940979px;}
.y8c{bottom:95.841003px;}
.y98{bottom:99.217003px;}
.y17{bottom:99.760986px;}
.y6f{bottom:101.288000px;}
.y4b{bottom:104.748138px;}
.y83{bottom:105.542618px;}
.y8e{bottom:106.117001px;}
.y97{bottom:113.638003px;}
.y34{bottom:113.940979px;}
.y6e{bottom:116.310000px;}
.y82{bottom:119.963623px;}
.y3c{bottom:122.637848px;}
.y8d{bottom:128.088000px;}
.y2e{bottom:132.590981px;}
.y4a{bottom:133.590149px;}
.y81{bottom:134.384628px;}
.y49{bottom:145.561157px;}
.y80{bottom:148.805618px;}
.y48{bottom:159.982162px;}
.y7f{bottom:163.226616px;}
.y47{bottom:174.403152px;}
.y7e{bottom:177.647621px;}
.y46{bottom:188.824158px;}
.y7d{bottom:192.068626px;}
.y29{bottom:201.341026px;}
.y7c{bottom:206.489616px;}
.y45{bottom:217.666161px;}
.y7b{bottom:220.910629px;}
.y5a{bottom:225.408997px;}
.y44{bottom:229.637161px;}
.y7a{bottom:235.331627px;}
.y8b{bottom:243.241028px;}
.y43{bottom:244.058159px;}
.y79{bottom:249.752628px;}
.y42{bottom:258.479164px;}
.y6d{bottom:259.509033px;}
.y24{bottom:263.458961px;}
.y78{bottom:266.431625px;}
.y41{bottom:270.450165px;}
.y59{bottom:276.947021px;}
.y5b{bottom:277.747009px;}
.y77{bottom:278.211627px;}
.y57{bottom:278.490967px;}
.y40{bottom:282.421162px;}
.y3f{bottom:296.842163px;}
.y3e{bottom:311.263161px;}
.y3d{bottom:325.684161px;}
.y56{bottom:339.140991px;}
.y23{bottom:340.315002px;}
.ya0{bottom:351.296726px;}
.y20{bottom:358.699999px;}
.y6c{bottom:392.773987px;}
.y18{bottom:394.159014px;}
.y64{bottom:399.000008px;}
.y68{bottom:404.327007px;}
.y9f{bottom:407.450012px;}
.y13{bottom:425.456974px;}
.y8{bottom:458.799988px;}
.y76{bottom:463.494385px;}
.y3b{bottom:477.250000px;}
.y63{bottom:482.500000px;}
.yf{bottom:491.250004px;}
.y5d{bottom:511.499985px;}
.y7{bottom:566.649994px;}
.y5{bottom:568.149994px;}
.y5c{bottom:599.800003px;}
.y96{bottom:619.500000px;}
.y54{bottom:619.950001px;}
.y3{bottom:656.300003px;}
.yac{bottom:692.122000px;}
.y1{bottom:697.650002px;}
.y67{bottom:760.990997px;}
.y94{bottom:761.750000px;}
.h25{height:1.435547px;}
.h17{height:11.000000px;}
.h5{height:14.000000px;}
.h1f{height:14.750000px;}
.h3{height:15.000000px;}
.h22{height:15.500000px;}
.hf{height:26.800001px;}
.he{height:27.070312px;}
.h9{height:27.527344px;}
.h13{height:27.544922px;}
.hc{height:27.800001px;}
.h24{height:28.650000px;}
.h1d{height:28.710938px;}
.h23{height:29.450001px;}
.h1{height:30.000000px;}
.h8{height:30.078125px;}
.h6{height:34.453125px;}
.h4{height:39.787109px;}
.hb{height:42.184017px;}
.h21{height:42.725277px;}
.h16{height:44.450001px;}
.ha{height:56.850002px;}
.h1a{height:59.450001px;}
.h11{height:64.650002px;}
.h19{height:64.849998px;}
.h12{height:67.099998px;}
.h10{height:67.849998px;}
.hd{height:74.200005px;}
.h18{height:77.550003px;}
.h2{height:80.390625px;}
.h14{height:87.824173px;}
.h7{height:89.300003px;}
.h1b{height:125.250000px;}
.h20{height:125.800003px;}
.h1e{height:140.250000px;}
.h1c{height:290.373627px;}
.h15{height:337.846161px;}
.h0{height:792.000000px;}
.w10{width:56.200001px;}
.w7{width:104.000000px;}
.w5{width:121.950005px;}
.wb{width:134.699997px;}
.w9{width:135.449997px;}
.w11{width:155.600006px;}
.w4{width:155.949997px;}
.wc{width:156.000000px;}
.wf{width:157.699997px;}
.w12{width:162.550003px;}
.w19{width:173.250000px;}
.w1a{width:179.449997px;}
.w17{width:180.600006px;}
.w1b{width:185.250000px;}
.wd{width:190.300003px;}
.w16{width:262.300018px;}
.wa{width:321.899994px;}
.w13{width:331.800018px;}
.w15{width:332.550018px;}
.w6{width:333.149994px;}
.w3{width:338.700012px;}
.w14{width:338.800018px;}
.w8{width:343.899994px;}
.w2{width:350.750000px;}
.w18{width:353.200012px;}
.w1{width:566.500000px;}
.we{width:584.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x15{left:5.798000px;}
.x13{left:11.829001px;}
.x12{left:14.584000px;}
.x10{left:16.434000px;}
.x9{left:18.000000px;}
.xa{left:19.780001px;}
.x18{left:27.049999px;}
.x16{left:28.549999px;}
.x17{left:30.049999px;}
.xe{left:31.600000px;}
.xf{left:32.950001px;}
.x5{left:36.049999px;}
.x2{left:51.939003px;}
.x6{left:70.050003px;}
.x1e{left:84.000000px;}
.x14{left:87.050003px;}
.x3{left:99.793999px;}
.x1{left:130.350006px;}
.x11{left:140.399994px;}
.xb{left:221.750000px;}
.x19{left:224.699997px;}
.x4{left:226.449997px;}
.xc{left:230.242004px;}
.x1a{left:231.550003px;}
.x7{left:233.014999px;}
.x1b{left:234.149994px;}
.x8{left:236.800003px;}
.x1c{left:238.949997px;}
.x1d{left:240.250000px;}
.xd{left:411.450012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-6.144000pt;}
._4{margin-left:-2.048000pt;}
._1{width:1.594667pt;}
._6{width:2.944000pt;}
._0{width:13.290667pt;}
._8{width:15.722667pt;}
._3{width:73.920000pt;}
._7{width:131.072000pt;}
._2{width:189.312000pt;}
.fs6{font-size:2.666667pt;}
.fs5{font-size:32.000000pt;}
.fs4{font-size:48.000000pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:69.333333pt;}
.fs0{font-size:149.333333pt;}
.y33{bottom:-232.533335pt;}
.y93{bottom:-63.573344pt;}
.ye{bottom:-2.266663pt;}
.y0{bottom:0.000000pt;}
.y62{bottom:1.133341pt;}
.y16{bottom:2.912023pt;}
.y58{bottom:3.733334pt;}
.y22{bottom:5.066668pt;}
.y6{bottom:5.146666pt;}
.y4{bottom:5.333333pt;}
.y2d{bottom:5.466660pt;}
.y8a{bottom:6.127523pt;}
.y95{bottom:6.146666pt;}
.yab{bottom:6.250666pt;}
.y1a{bottom:6.400002pt;}
.ya4{bottom:7.146666pt;}
.ya7{bottom:7.317334pt;}
.y32{bottom:8.733322pt;}
.y2{bottom:9.653333pt;}
.y75{bottom:10.438670pt;}
.y53{bottom:11.485514pt;}
.y28{bottom:12.999995pt;}
.y9e{bottom:16.921326pt;}
.ya2{bottom:18.700368pt;}
.y1b{bottom:18.921316pt;}
.y6b{bottom:19.808004pt;}
.yd{bottom:20.400004pt;}
.y1f{bottom:20.749334pt;}
.y61{bottom:22.466670pt;}
.y21{bottom:23.813335pt;}
.ya8{bottom:23.823990pt;}
.y3a{bottom:23.970896pt;}
.y52{bottom:24.254883pt;}
.y92{bottom:24.310669pt;}
.y19{bottom:25.146669pt;}
.y89{bottom:25.355509pt;}
.y15{bottom:25.578690pt;}
.yaa{bottom:26.280000pt;}
.ya6{bottom:27.346668pt;}
.y2c{bottom:27.399999pt;}
.y12{bottom:27.533335pt;}
.y74{bottom:29.105337pt;}
.y35{bottom:30.593079pt;}
.y31{bottom:30.666662pt;}
.y27{bottom:31.666662pt;}
.y9d{bottom:36.149333pt;}
.y1e{bottom:36.785339pt;}
.ya1{bottom:40.033703pt;}
.y51{bottom:40.290853pt;}
.y6a{bottom:41.429334pt;}
.yc{bottom:43.066671pt;}
.y39{bottom:43.198898pt;}
.y60{bottom:43.800003pt;}
.y14{bottom:44.325357pt;}
.y88{bottom:44.583496pt;}
.y2b{bottom:46.066668pt;}
.y11{bottom:46.200002pt;}
.y55{bottom:47.346668pt;}
.y73{bottom:47.772003pt;}
.y66{bottom:48.199997pt;}
.y30{bottom:49.333331pt;}
.y26{bottom:50.333331pt;}
.y50{bottom:53.060221pt;}
.y91{bottom:53.605337pt;}
.y9c{bottom:55.377330pt;}
.y38{bottom:62.426900pt;}
.y69{bottom:63.050668pt;}
.y1d{bottom:63.489339pt;}
.y87{bottom:63.811503pt;}
.y10{bottom:64.866670pt;}
.y5f{bottom:65.133336pt;}
.yb{bottom:65.733337pt;}
.y72{bottom:66.438670pt;}
.y2a{bottom:68.000001pt;}
.y4f{bottom:69.096191pt;}
.y65{bottom:69.533332pt;}
.y2f{bottom:71.266664pt;}
.ya5{bottom:71.365331pt;}
.y25{bottom:72.266664pt;}
.ya9{bottom:72.921338pt;}
.y9b{bottom:74.605337pt;}
.y37{bottom:81.654897pt;}
.y4e{bottom:81.865560pt;}
.y1c{bottom:82.717340pt;}
.y90{bottom:82.900004pt;}
.y86{bottom:83.039469pt;}
.y71{bottom:85.105331pt;}
.y5e{bottom:86.466671pt;}
.ya{bottom:88.400004pt;}
.y9a{bottom:93.833338pt;}
.y4d{bottom:99.224202pt;}
.y36{bottom:100.882898pt;}
.y85{bottom:102.267476pt;}
.y70{bottom:103.771998pt;}
.y9{bottom:107.146671pt;}
.y8f{bottom:112.194672pt;}
.y99{bottom:113.061340pt;}
.y4c{bottom:120.436218pt;}
.y84{bottom:121.495483pt;}
.ya3{bottom:125.254639pt;}
.y8c{bottom:127.788005pt;}
.y98{bottom:132.289337pt;}
.y17{bottom:133.014648pt;}
.y6f{bottom:135.050667pt;}
.y4b{bottom:139.664185pt;}
.y83{bottom:140.723490pt;}
.y8e{bottom:141.489334pt;}
.y97{bottom:151.517338pt;}
.y34{bottom:151.921305pt;}
.y6e{bottom:155.080001pt;}
.y82{bottom:159.951497pt;}
.y3c{bottom:163.517131pt;}
.y8d{bottom:170.784000pt;}
.y2e{bottom:176.787974pt;}
.y4a{bottom:178.120199pt;}
.y81{bottom:179.179504pt;}
.y49{bottom:194.081543pt;}
.y80{bottom:198.407491pt;}
.y48{bottom:213.309550pt;}
.y7f{bottom:217.635488pt;}
.y47{bottom:232.537537pt;}
.y7e{bottom:236.863495pt;}
.y46{bottom:251.765544pt;}
.y7d{bottom:256.091502pt;}
.y29{bottom:268.454702pt;}
.y7c{bottom:275.319489pt;}
.y45{bottom:290.221547pt;}
.y7b{bottom:294.547506pt;}
.y5a{bottom:300.545329pt;}
.y44{bottom:306.182882pt;}
.y7a{bottom:313.775503pt;}
.y8b{bottom:324.321370pt;}
.y43{bottom:325.410879pt;}
.y79{bottom:333.003504pt;}
.y42{bottom:344.638885pt;}
.y6d{bottom:346.012044pt;}
.y24{bottom:351.278615pt;}
.y78{bottom:355.242167pt;}
.y41{bottom:360.600220pt;}
.y59{bottom:369.262695pt;}
.y5b{bottom:370.329346pt;}
.y77{bottom:370.948836pt;}
.y57{bottom:371.321289pt;}
.y40{bottom:376.561549pt;}
.y3f{bottom:395.789551pt;}
.y3e{bottom:415.017548pt;}
.y3d{bottom:434.245548pt;}
.y56{bottom:452.187988pt;}
.y23{bottom:453.753337pt;}
.ya0{bottom:468.395635pt;}
.y20{bottom:478.266665pt;}
.y6c{bottom:523.698649pt;}
.y18{bottom:525.545352pt;}
.y64{bottom:532.000010pt;}
.y68{bottom:539.102676pt;}
.y9f{bottom:543.266683pt;}
.y13{bottom:567.275965pt;}
.y8{bottom:611.733317pt;}
.y76{bottom:617.992513pt;}
.y3b{bottom:636.333333pt;}
.y63{bottom:643.333333pt;}
.yf{bottom:655.000005pt;}
.y5d{bottom:681.999980pt;}
.y7{bottom:755.533325pt;}
.y5{bottom:757.533325pt;}
.y5c{bottom:799.733337pt;}
.y96{bottom:826.000000pt;}
.y54{bottom:826.600001pt;}
.y3{bottom:875.066671pt;}
.yac{bottom:922.829333pt;}
.y1{bottom:930.200002pt;}
.y67{bottom:1014.654663pt;}
.y94{bottom:1015.666667pt;}
.h25{height:1.914062pt;}
.h17{height:14.666667pt;}
.h5{height:18.666667pt;}
.h1f{height:19.666667pt;}
.h3{height:20.000000pt;}
.h22{height:20.666667pt;}
.hf{height:35.733335pt;}
.he{height:36.093750pt;}
.h9{height:36.703125pt;}
.h13{height:36.726562pt;}
.hc{height:37.066668pt;}
.h24{height:38.199999pt;}
.h1d{height:38.281250pt;}
.h23{height:39.266668pt;}
.h1{height:40.000000pt;}
.h8{height:40.104167pt;}
.h6{height:45.937500pt;}
.h4{height:53.049479pt;}
.hb{height:56.245356pt;}
.h21{height:56.967036pt;}
.h16{height:59.266668pt;}
.ha{height:75.800003pt;}
.h1a{height:79.266668pt;}
.h11{height:86.200002pt;}
.h19{height:86.466665pt;}
.h12{height:89.466665pt;}
.h10{height:90.466665pt;}
.hd{height:98.933339pt;}
.h18{height:103.400004pt;}
.h2{height:107.187500pt;}
.h14{height:117.098897pt;}
.h7{height:119.066671pt;}
.h1b{height:167.000000pt;}
.h20{height:167.733337pt;}
.h1e{height:187.000000pt;}
.h1c{height:387.164836pt;}
.h15{height:450.461548pt;}
.h0{height:1056.000000pt;}
.w10{width:74.933334pt;}
.w7{width:138.666667pt;}
.w5{width:162.600006pt;}
.wb{width:179.599996pt;}
.w9{width:180.599996pt;}
.w11{width:207.466675pt;}
.w4{width:207.933329pt;}
.wc{width:208.000000pt;}
.wf{width:210.266663pt;}
.w12{width:216.733337pt;}
.w19{width:231.000000pt;}
.w1a{width:239.266663pt;}
.w17{width:240.800008pt;}
.w1b{width:247.000000pt;}
.wd{width:253.733337pt;}
.w16{width:349.733358pt;}
.wa{width:429.199992pt;}
.w13{width:442.400024pt;}
.w15{width:443.400024pt;}
.w6{width:444.199992pt;}
.w3{width:451.600016pt;}
.w14{width:451.733358pt;}
.w8{width:458.533325pt;}
.w2{width:467.666667pt;}
.w18{width:470.933350pt;}
.w1{width:755.333333pt;}
.we{width:778.666667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x15{left:7.730667pt;}
.x13{left:15.772002pt;}
.x12{left:19.445333pt;}
.x10{left:21.912000pt;}
.x9{left:24.000000pt;}
.xa{left:26.373334pt;}
.x18{left:36.066666pt;}
.x16{left:38.066666pt;}
.x17{left:40.066666pt;}
.xe{left:42.133334pt;}
.xf{left:43.933334pt;}
.x5{left:48.066666pt;}
.x2{left:69.252004pt;}
.x6{left:93.400004pt;}
.x1e{left:112.000000pt;}
.x14{left:116.066671pt;}
.x3{left:133.058665pt;}
.x1{left:173.800008pt;}
.x11{left:187.199992pt;}
.xb{left:295.666667pt;}
.x19{left:299.599996pt;}
.x4{left:301.933329pt;}
.xc{left:306.989339pt;}
.x1a{left:308.733337pt;}
.x7{left:310.686666pt;}
.x1b{left:312.199992pt;}
.x8{left:315.733337pt;}
.x1c{left:318.599996pt;}
.x1d{left:320.333333pt;}
.xd{left:548.600016pt;}
}
